In [1]:
# Custom extra width cells
from IPython.core.display import HTML, display
display(HTML("<style>.container { width:100% !important; }</style>"))

### reverse_geocode
To run this you need to install reverse_geocode with:

pip3 install reverse-geocode

In [1]:
import numpy as np
import pandas as pd
import reverse_geocode


pd.set_option('display.width', 1500)
pd.set_option('display.max_columns', 100)

In [2]:
# Data dir path from root of project
data_dir = "./data"

# https://github.com/washingtonpost/data-police-shootings
df_wsp = pd.read_csv(f'{data_dir}/fatal-police-shootings-data-wsp.csv')  

# Output the first entries and info about the data in the set
display(df_wsp.head())
display(df_wsp.info())

   id                name        date   manner_of_death       armed   age gender race           city state  signs_of_mental_illness threat_level         flee  body_camera  longitude  latitude  is_geocoding_exact
0   3          Tim Elliot  2015-01-02              shot         gun  53.0      M    A        Shelton    WA                     True       attack  Not fleeing        False   -123.122    47.247                True
1   4    Lewis Lee Lembke  2015-01-02              shot         gun  47.0      M    W          Aloha    OR                    False       attack  Not fleeing        False   -122.892    45.487                True
2   5  John Paul Quintero  2015-01-03  shot and Tasered     unarmed  23.0      M    H        Wichita    KS                    False        other  Not fleeing        False    -97.281    37.695                True
3   8     Matthew Hoffman  2015-01-04              shot  toy weapon  32.0      M    W  San Francisco    CA                     True       attack  Not fleeing        False   -122.422    37.763                True
4   9   Michael Rodriguez  2015-01-04              shot    nail gun  39.0      M    H          Evans    CO                    False       attack  Not fleeing        False   -104.692    40.384                True

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5716 entries, 0 to 5715
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       5716 non-null   int64
 1   name                     5499 non-null   object
 2   date                     5716 non-null   object
 3   manner_of_death          5716 non-null   object
 4   armed                    5503 non-null   object
 5   age                      5456 non-null   float64
 6   gender                   5715 non-null   object
 7   race                     5109 non-null   object
 8   city                     5716 non-null   object
 9   state                    5716 non-null   object
 10  signs_of_mental_illness  5716 non-null   bool
 11  threat_level             5716 non-null   object
 12  flee                     5426 non-null   object
 13  body_camera              5716 non-null   bool
 14  longitude                5437 non-null   float64
 15  latitude                 5437 non-null   float64
 16  is_geocoding_exact       5716 non-null   bool
dtypes: bool(3), float64(3), int64(1), object(10)
memory usage: 642.1+ KB

None

### Adding a new city row based on latitude and longitude

We're adding a new city row based on the coordinates, because the washington post dataset has about 1000 entries for which a county is specified for the city column. 

They do however, have the lat and long from almost all the incidents to a more precise location, so we'll manually add these results for the cities as new column.
We're doing this since the city is needed that city's population density.

In [5]:
# Use the offline reverse_geopy lubrary to match cities to the coordinates
# http://jonathansoma.com/lede/foundations/classes/pandas%20columns%20and%20functions/apply-a-function-to-every-row-in-a-pandas-dataframe/
def addCityBasedOnCoordinates(row):
    # Get coordinate values
    lat, long = row['latitude'] , row['longitude']
    
    # Null check
    if str(lat) == 'nan' or str(long) == 'nan':
        # Return original city
        return row['city']
    location_info = reverse_geocode.get((lat, long))
    return location_info['city']
    

# Save the result in a new column
df_wsp['city_lat_long'] = df_wsp.apply(addCityBasedOnCoordinates, axis=1)

# Inspect the results
display(df_wsp.head())

   id                name        date   manner_of_death       armed   age gender race           city state  signs_of_mental_illness threat_level         flee  body_camera  longitude  latitude  is_geocoding_exact     city_lat_long
0   3          Tim Elliot  2015-01-02              shot         gun  53.0      M    A        Shelton    WA                     True       attack  Not fleeing        False   -123.122    47.247                True           Shelton
1   4    Lewis Lee Lembke  2015-01-02              shot         gun  47.0      M    W          Aloha    OR                    False       attack  Not fleeing        False   -122.892    45.487                True             Aloha
2   5  John Paul Quintero  2015-01-03  shot and Tasered     unarmed  23.0      M    H        Wichita    KS                    False        other  Not fleeing        False    -97.281    37.695                True           Wichita
3   8     Matthew Hoffman  2015-01-04              shot  toy weapon  32.0      M    W  San Francisco    CA                     True       attack  Not fleeing        False   -122.422    37.763                True  Mission District
4   9   Michael Rodriguez  2015-01-04              shot    nail gun  39.0      M    H          Evans    CO                    False       attack  Not fleeing        False   -104.692    40.384                True             Evans

### Population density by city name
We got the population density estimates from [SimpleMaps](https://simplemaps.com/data/us-cities). They've built this dataset from the ground up using authoritative sources such as the U.S. Geological Survey and U.S. Census Bureau.
We are going to use this data to add a city population density column to each incident.

In [6]:
# Data from https://simplemaps.com/data/us-cities
city_df = pd.read_csv(f'{data_dir}/uscities-simplemaps.csv')
city_df.head()

          city   city_ascii state_id  state_name  county_fips  county_name      lat       lng  population  density   source  military  incorporated             timezone  ranking                                               zips          id
0     New York     New York       NY    New York        36061     New York  40.6943  -73.9249    18713220  10715.0  polygon     False          True     America/New_York        1  11229 11226 11225 11224 11222 11221 11220 1138...  1840034016
1  Los Angeles  Los Angeles       CA  California         6037  Los Angeles  34.1139 -118.4068    12750807   3276.0  polygon     False          True  America/Los_Angeles        1  90291 90293 90292 91316 91311 90037 90031 9000...  1840020491
2      Chicago      Chicago       IL    Illinois        17031         Cook  41.8373  -87.6862     8604203   4574.0  polygon     False          True      America/Chicago        1  60018 60649 60641 60640 60643 60642 60645 6064...  1840000494
3        Miami        Miami       FL     Florida        12086   Miami-Dade  25.7839  -80.2102     6445545   5019.0  polygon     False          True     America/New_York        1  33129 33125 33126 33127 33128 33149 33144 3314...  1840015149
4       Dallas       Dallas       TX       Texas        48113       Dallas  32.7936  -96.7662     5743938   1526.0  polygon     False          True      America/Chicago        1  75287 75098 75233 75254 75251 75252 75253 7503...  1840019440

### Adding the incident's city population density 
Now that we have the original city (and sometime county) and backup city names from the coordinates, we can make the cross reference on the city population density dataset.

In [12]:
# The average city density from each us city, needed for imputation
avg_city_dens = city_df['density'].mean()

# To store the fails for inspection
df_fails = pd.DataFrame(columns=df_wsp.columns)

# Use the offline reverse_geopy lubrary to match cities to the coordinates
# http://jonathansoma.com/lede/foundations/classes/pandas%20columns%20and%20functions/apply-a-function-to-every-row-in-a-pandas-dataframe/
def addCityDensity(row):
    global df_fails
    
    # Grab values to match
    state = row['state']
    city = row['city']
    
    # Match based on STATE and city, because a lot of states have cities with the same name
    df_matches = city_df.loc[(city_df['state_id'] == state ) & (city_df['state_id'] == state ) & (city_df['city'] == city) ]
    
    # Try backup cities that were matched by coordinates
    if len(df_matches.index) == 0:
        city_xtra = row['city_lat_long']
        df_matches = city_df.loc[(city_df['state_id'] == state ) & (city_df['city'] == city_xtra) ]

    # Null check if no matched at all...
    if len(df_matches.index) == 0:
        # print(f"Could not match city: '{city}' or '{city_xtra}' so imputing average....")
        df_fails = df_fails.append(row, ignore_index=True)
        return avg_city_dens
    
    # Only happened once for a place in Florida and since the wsp doesn't have county, we impute the avg
    elif len(df_matches.index) > 1:
        # display(df_matches)
        mean_similar_matches = df_matches['density'].mean()
        match_cnt = len(df_matches.index)
        print(f"Multiple matches ({match_cnt}) for -> '{(city)} - {state}' so imputing their average: {round(mean_similar_matches, 2)}")
        return mean_similar_matches

    # Return first match
    return df_matches['density'].iloc[0]


# Save the result in a new column
df_wsp['city_density'] = df_wsp.apply(addCityDensity, axis=1)
amount_total =  len(df_wsp.index)
amount_fail = len(df_fails.index)

# Output basic stats
print(f"\n{amount_fail} from the total of {amount_total} did not match any city name from the original cities and coordinates based cities")
print(f"So we have imputed the overal city density for them of: {round(avg_city_dens, 2)}\n")

# Inspect the new df and the rows which did not match
display(df_wsp.head())
display(df_fails.head())

Multiple matches (3) for -> 'Midway - FL' so imputing their average: 507.67

217 from the total of 5716 did not match any city name from the original cities and coordinates based cities
So we have imputed the overal city density for them of: 515.61

   id                name        date   manner_of_death       armed   age gender race           city state  signs_of_mental_illness threat_level         flee  body_camera  longitude  latitude  is_geocoding_exact     city_lat_long  city_density
0   3          Tim Elliot  2015-01-02              shot         gun  53.0      M    A        Shelton    WA                     True       attack  Not fleeing        False   -123.122    47.247                True           Shelton         708.0
1   4    Lewis Lee Lembke  2015-01-02              shot         gun  47.0      M    W          Aloha    OR                    False       attack  Not fleeing        False   -122.892    45.487                True             Aloha        2915.0
2   5  John Paul Quintero  2015-01-03  shot and Tasered     unarmed  23.0      M    H        Wichita    KS                    False        other  Not fleeing        False    -97.281    37.695                True           Wichita         931.0
3   8     Matthew Hoffman  2015-01-04              shot  toy weapon  32.0      M    W  San Francisco    CA                     True       attack  Not fleeing        False   -122.422    37.763                True  Mission District        7256.0
4   9   Michael Rodriguez  2015-01-04              shot    nail gun  39.0      M    H          Evans    CO                    False       attack  Not fleeing        False   -104.692    40.384                True             Evans         804.0

    id              name        date   manner_of_death         armed   age gender race        city state signs_of_mental_illness  threat_level         flee body_camera  longitude  latitude is_geocoding_exact           city_lat_long  city_density
0   98       Andrew Toto  2015-01-21              shot           gun  54.0      M    W       Derry    NH                    True        attack  Not fleeing       False    -71.337    42.908               True                 Methuen    515.613848
1  136  Kenneth Kreyssig  2015-02-09              shot           gun  61.0      M    W      Smyrna    ME                    True  undetermined  Not fleeing       False    -68.104    46.159               True   Florenceville-Bristol    515.613848
2  139      Anthony Bess  2015-02-10              shot           gun  49.0      M    B  Whitehaven    TN                   False        attack  Not fleeing       False    -90.054    35.025               True               Southaven    515.613848
3  309       James Ellis  2015-03-21              shot           gun  44.0      M    W   Clarendon    NY                   False        attack          Car       False    -78.047    43.190               True       Gates-North Gates    515.613848
4  234      Denzel Brown  2015-03-22  shot and Tasered  undetermined  21.0      M    B       Islip    NY                   False        attack          Car       False    -73.238    40.740               True  Setauket-East Setauket    515.613848